<!--
  Generated template for the EditgroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<ion-title *ngIf="group !== undefined">{{groupName}}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding *ngIf="group !== undefined">
	<ion-item>
		<ion-label>Name</ion-label>
		<ion-input type="text" [(ngModel)]="group.name"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>Privé</ion-label>
		<ion-toggle checked="true" [(ngModel)]="group.visibility"></ion-toggle>
	</ion-item>
	<ion-list>
			<ion-label>Guests({{group.users?.length}})</ion-label>
			<ion-item *ngFor="let item of group?.users" >
				<h2>{{ item.email }}</h2>
				<!-- <p>Hayao Miyazaki • 1988</p> -->
				<button ion-button clear item-end (click)="removeFromGroup(item)">Remove</button>
			</ion-item>
	</ion-list>
	<ion-label>Search users</ion-label>
	<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
	<ion-list>
		<ion-item *ngFor="let item of items" (click)="addToGroup(item)">
			{{ item.email }}
		</ion-item>
	</ion-list>


	<button ion-button block clear (click)="saveGroup(group)">Save it !</button>
	<button ion-button block clear color="danger" (click)="removeGroup(group)">Remove it !</button>
</ion-content>
