<!--
  Generated template for the EditEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<ion-title *ngIf="event !== undefined">{{eventName}}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding *ngIf="event !== undefined">
	<ion-item>
		<ion-label>Name</ion-label>
		<ion-input type="text" [(ngModel)]="event.name"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>Description</ion-label>
		<ion-input type="text" [(ngModel)]="event.description"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>Date</ion-label>
		<ion-input type="datetime-local" [(ngModel)]="event.date"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>Privé</ion-label>
		<ion-toggle checked="{event.visibility}" [(ngModel)]="event.visibility"></ion-toggle>
	</ion-item>

	<ion-item>
	<ion-label>Group</ion-label>
	<ion-select [(ngModel)]="event.groupId">
		<ion-option *ngFor="let group of user.user_groups"
					[value]="group.id"
					[selected]="event.groupId === group.id">{{group.name}}</ion-option>
	</ion-select>
	</ion-item>
	<div class="buttons-container">
		<button class="button-element" ion-button block clear (click)="saveEvent(event)">Save it !</button>
		<button class="button-element button-element__remove" ion-button block clear color="danger" (click)="removeEvent(event)">Remove it !</button>
	</div>
</ion-content>
