.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .button-element {
    width: 40%;
    color: #fff;

    &__remove {
      border: 1px solid #113ddb;
      background-color: #fff;
      color: #113ddb;
    }
  }
}
