<!--
  Generated template for the SignInPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>SignIn</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-item>
		<ion-label>Email</ion-label>
		<ion-input type="text" [(ngModel)]="user.email"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>Password</ion-label>
		<ion-input type="password" [(ngModel)]="user.password"></ion-input>
	</ion-item>

	<button ion-button full (click)="signIn(user)">Sign In</button>
	<button ion-button clear full (click)="signUp()">Sign Up</button>
</ion-content>
