page-home {
  .nav-tab {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: 0.55px solid rgba(0, 0, 0, 0.1);
    background: #f8f8f8;
    display: flex;
    flex-direction: row;
  }

  .nav-tab button {
    width: 50%;
    text-transform: uppercase;
    &.active {
      color: blue;
    }
  }
}
.header {
  border-bottom: none;
  margin-bottom: 0px;
}

.item-list {
  background: #e4e9f2;
  border-radius: 10px;
  border-bottom: none !important;
  border-top: none !important;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;

    &__date {
      text-transform: uppercase;
      color: #113ddb !important;
      font-size: 18px !important;
      margin-bottom: 15px !important;
    }

    &__name {
      font-size: 14px !important;
      color: #656d79 !important;
    }

    &__description {
      font-size: 14px !important;
      color: #b1b5ba !important;
    }
}

.item-inner {
  border: none !important;
}