<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle icon-only>
			<ion-icon name='menu'></ion-icon>
		</button>
		<ion-title>
			Calendar
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="user.logout()">
				Logout
			</button>
		</ion-buttons>
	</ion-navbar>
	
</ion-header>

<ion-content padding>
	<ion-list>
		<div class="page-header">
			<ion-list-header class="header">
				Your events !
			</ion-list-header>
			<ion-buttons end>
				<button ion-button navPush="AddEventPage">
					Add an event
				</button>
			</ion-buttons>
		</div>
		<ion-item class="item-list" *ngFor="let event of displayedEvents" detail-push (click)="openModal({event: event})">
			<p class="item-list__date">{{event.date | date:"MM/dd/yy"}} {{event.date | date:"hh:mm" }}</p>
			<p class="item-list__name">{{ event.name }}</p>
			<p class="item-list__description">{{ event.description }}</p>
		</ion-item>
	</ion-list>
	<nav class="nav-tab">
		<button class="active">Home</button>

		<button navPush="GroupsPage">Groups</button>
	</nav>
</ion-content>

