<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle icon-only>
			<ion-icon name='menu'></ion-icon>
		</button>
		<ion-title>
			Groups
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only navPush="AddGroupPage">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list>
		<ion-list-header>
			Groups
		</ion-list-header>
		<ion-item *ngFor="let group of displayedGroups" detail-push navPush="EditGroupPage" [navParams]="{group: group}">
			{{ group.name }}
			<!-- Bonus : Add users count-->
		</ion-item>
	</ion-list> 
</ion-content>
