.header {
  font-size: 20px;
  font-weight: bold;
  padding-left: 0;
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.button-ios {
  background-color: #113ddb;
  border-radius: 10px;
  padding: 5px 10px !important;
}