<!--
  Generated template for the AddEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>New Event</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
		<ion-label>Name</ion-label>
		<ion-input type="text" [(ngModel)]="event.name"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>Description</ion-label>
		<ion-input type="text" [(ngModel)]="event.description"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>Date</ion-label>
		<ion-input type="datetime-local" [(ngModel)]="event.date"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>Privé</ion-label>
		<ion-toggle checked="true" [(ngModel)]="event.visibility"></ion-toggle>
	</ion-item>

	<ion-item>
	<ion-label>Group</ion-label>
	<ion-select [(ngModel)]="event.groupId">
		<ion-option *ngFor="let group of user.user_groups" [value]="group.id">{{group.name}}</ion-option>
	</ion-select>
	</ion-item>


	<button ion-button block clear (click)="addEvent(event)">Add it !</button>
</ion-content>
