<ion-header>
  <ion-toolbar>
    <ion-title>
      Description
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary">Close</span>
      </button>
    </ion-buttons>
      <ion-buttons end>
      <button ion-button icon-only navPush="EditEventPage" [navParams]="{event: event}">
            Edit
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
        <h2>{{event.name}}</h2>
        <p>{{event.date}}</p>
      </ion-item>

      <ion-item>
        Description
        <ion-note item-end>
          {{event.description}}
        </ion-note>
      </ion-item>
      <ion-item>
        Create by
        <ion-note item-end>
          {{event.userId}}
        </ion-note>
      </ion-item>
      <ion-item>
        Private
        <ion-note item-end>
          {{event.visibility}}
        </ion-note>
      </ion-item>
      <ion-item>
        Group
        <ion-note item-end>
          {{group_name}}
        </ion-note>
      </ion-item>
  </ion-list>
</ion-content>